extends ../layout
block content
  h1 Resenas
  p
    a(href="/resenas/create") Ingresar una nueva resena
  -if(resenas.length > 0)
    table
      thead
        tr
          th Usuario
          th Resena
          th
          th
          th
      tbody
        -each item in resenas
          tr
            td #{item.usuario}
            td #{item.resena} td
              a(href="/resenas/#{item._id}") Ver
            td 
              a(href="/resenas/#{item._id}/edit") Editar
            td
              form(method="post", action="/resenas/#{item._id}")
                input(type="hidden", name="_method", value="DELETE")
                a(href="javascript:void(0);", onclick="if(confirm('¿Está seguro que desea eliminar este registro?')){this.parentNode.submit();}") Eliminar
  -else
       p No existen resenas creadas